@import url('https://fonts.googleapis.com/css2?family=Keania+One&family=League+Spartan:wght@400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #151414;
    --gray-font: #988E8E;
    --square-bg: #1A1818;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background);
    position: relative;
    overflow-x: hidden;
}



.olio {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'League Spartan';
    font-size: 200px;
    color: var(--square-bg);
    transform: rotate(-90deg);
    z-index: -10;
}

.container {
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    padding: 0 100px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo h3 {
    font-family: 'Keania One';
    color: #FFFFFF;
    font-size: 30px;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__link {
    padding: 7px 15px;
    transition: all 0.2s ease;
}
.nav__link:hover {
    border-bottom: 2px solid #FFFFFF;
}

.nav__link a {
    font-family: 'Keania One';
    color: #FFFFFF;
    font-size: 15px;

}

main {
    position: relative;
    height: 90vh;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.display__image {
    width: 200px;
    height: 190px;
    position: relative;
}



#image__grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.square:nth-of-type(7),
.square:nth-of-type(15),
.square:nth-of-type(28),
.square:nth-of-type(35),  
.square:nth-of-type(43),
.square:nth-of-type(47)   {
    background-color: var(--background);
}

.square:nth-of-type(2),
.square:nth-of-type(10),
.square:nth-of-type(13),
.square:nth-of-type(23),
.square:nth-of-type(26), 
.square:nth-of-type(41)  
{
    border: 2px solid white;
}

.display__image img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    border: 2px solid white;
}

header h4 {
    font-family: 'League Spartan';
    color: var(--gray-font);
    font-size: 40px;
    margin-top: 30px;
}

header h4 span {
    font-size: 50px;
}

header h3 {
    font-family: 'League Spartan';
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 30px;
    text-align: center;
}

header p {
    font-family: 'League Spartan';
    font-size: 25px;
    font-weight: 400;
    color: #c4bcbc;
    margin-top: 20px;
    text-align: center;
}

.download__cv{
    padding: 15px 20px;
    border: 1px solid #c4bcbc;
    color: white;
    font-family: 'League Spartan';
    font-weight: 500;
    margin-top: 30px;
    border-radius: 5px;
}


#header__grid {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.header__square:nth-of-type(2),
.header__square:nth-of-type(16),
.header__square:nth-of-type(19),
.header__square:nth-of-type(25)
 {
    background-color: var(--square-bg);
}

.header__square:nth-of-type(20) {
    border: 1px solid rgb(82, 78, 78);
    transform: translateX(100%);
}

.header__square:nth-of-type(6) {
    border: 1px solid rgb(82, 78, 78);
    transform: translateX(-100%);
}

/* .header__square:nth-of-type(4)::after {
    position: absolute;
    content: 'PORTFOLIO';
    transform: translateX(50px);
    font-family: 'League Spartan';
    font-size: 200px;
    font-weight: 800;
    color: var(--square-bg);
    z-index: -100;
}  */


/* .header__square:nth-of-type(6)::after {
    content: 'PORTFOLIO';
    position: absolute;
    top: -250px;
    left: -190px;
    font-family: 'League Spartan';
    font-size: 200px;
    font-weight: 800;
    color: var(--square-bg);
    transform: rotate(-90deg);
    z-index: -20;
    
} */

.header__square:nth-of-type(21),
.header__square:nth-of-type(5) {
    border: 1px solid rgb(82, 78, 78);
}

/* TABLET */

@media (width < 960px ){
    .header__square:nth-of-type(6)::after {
        content: 'PORTFOLIO';
        left: -180px;
        font-size: 150px
    }
}
/* MOBILE PHONES */
@media (width < 720px) {
    .container {
        padding: 0 10px;
    }

    .logo h3 {
        font-size: 20px;
    }

    .display__image {
        width: 50%;
        height: auto;
    }

    header h4 {
        font-size: 20px;
    }

    header h4 span {
        font-size: 30px;
    }

    header h3 {
        font-size: 50px;
        font-weight: 700;
    }

    header p {
        font-size: 20px;
        width: 80%;
    }

    .header__square:nth-of-type(6)::after {
        content: 'PORTFOLIO';
        left: -70px;
        top: 50px;
        font-size: 80px
    }

    .header__square:nth-of-type(4)::after {
        position: absolute;
        content: 'PORTFOLIO';
        transform: translateX(80px);
        font-family: 'League Spartan';
        font-size: 100px;
        font-weight: 700;
        color: var(--square-bg);
        z-index: -100;
    } 
    

    .nav__links {
        display: none;
    }

}