@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

body {
    position: relative;
   
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    width: 100%;
    height: 70px;
    background-color: rgb(250, 248, 248);
   
}

header p {
    font-size: 20px;
    font-weight: 500;
}

#home {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #e7e5e5c2;

    padding: 0 15%;
    gap: 20px;
}


#about {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 15%;
    padding-bottom: 10px;

}

#skills {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 15%;
    padding-bottom: 10px;
}

#projects {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 15%;
    background-color: #e7e5e5c2;
}

#contact {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 15%;
    padding-bottom: 80px;
}

.home-left {
    top: 50px;
    position: absolute;
    z-index: 3;
}

.greet {
    font-size: 30px;
}

.name {
    font-size: 50px;
}

.position {
    font-size: 25px;
    letter-spacing: 5px;
    border-right: 3px solid black;
    width: fit-content;
    animation: 
        cursor 0.5s step-end infinite alternate,
        typing 0.5s
    ;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.desc {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.home-left a {
    position: relative;
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgb(219, 208, 42);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.display-picture {
    position: absolute;
    top: 30px;
    width: 400px;
    height: 400px;
    background-image: url('images/ball.jpg');
    left: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
}

.display-picture::before {
    content: '';
    width: 400px;
    height: 400px;
    border-right: 10px solid black;
    position: absolute;
    right: 10px;

}


.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15%;
    height: 100%;
    z-index: 4;
}

.social-links a {
    margin: 10px 0;
    font-size: 30px;
    cursor: pointer;
    color: rgb(59, 59, 59);
}

#about h1, #skills h1, #contact h1 {
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(59, 58, 58);
}

.about-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

.formal {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url('images/formal.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.information {
    width: 50%;
    height: 100px;
}

.information i {
    font-size: 30px;
    color: rgb(116, 113, 113);
} 

#projects h1 {
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(59, 58, 58);
}

.project-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.nature-buddy-card, .balance-card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0,0,0.1);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 20px;
    flex-direction: column;
}

.nature-buddy-card img , .balance-card img{
    width: 50%;
    margin-bottom: 10px;
}

.nature-buddy-card p:last-of-type, .balance-card p:last-of-type {
    margin-top: 10px;
    width: 90%;
    text-align: center;
}

.code-link {
    margin-top: 20px;
}
.code-link a {
    margin: 10px 5px;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid rgb(87, 85, 85, 0.8);
    color: rgb(87, 85, 85);
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


.contact-links p {
    font-size: 20px;
}

.skill-grid {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 15px;
}

.skill-grid div {
    border: 1px solid rgb(92, 90, 90);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.skill-grid div i {
    font-size: 60px;
    color: rgb(92, 90, 90);
}

.skill-grid div p {
    font-size: 20px;
    color: rgb(92, 90, 90);
    font-weight: 500;
}